* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
}

.homepage {
    padding: 12rem 0px;
    height: 100vh;
    width: 100%;
    background: url(sony-home.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.home-headtext {
    font-size: 40px;
    color: white;
}

.buffer {
    height: 3rem;
}

.home-paragraf {
    font-size: 1.3em;
    letter-spacing: 2px;
    color: white;
}

.buffer2 {
    height: 1rem;
}

.btn-size {
    padding: 1rem 2rem;
}

.btn:hover {
    transform: scale(1.03);
}

.productpage {
    height: 100%;
    flex-direction: column;
    background-color: rgb(146, 146, 146);
    padding: 0px 0px 2rem 0px;
}

.buffer3 {
    height: 20px;
}

.productheader {
    font-size: 1.3rem;
    color: white;
    letter-spacing: .4px;
}

.productdetail {
    font-size: .9rem;
    color: white;
}

.carddetail {
    margin: .8rem 0px;
}

.carddetail:hover {
    transition: .3s;
    transform: scale(1.03);
}

.card {
    border: none;
}

.card-title {
    font-weight: bold;
    font-size: 1rem;
}

.card-text {
    font-size: .7rem;
}

.aboutpage {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 250, 250);
    padding: 4rem 0px 5rem 0px;
}

.about-content {
    flex-direction: column;
}

.aboutheader {
    font-size: 1.5rem;
    color: black;
    text-decoration: underline;
}

.ficame-picture {
    padding: 0px 0px;
    margin: .5rem 0px 1rem 0px;
}

.flogo {
    width: 14rem;
    height: 12rem;
}

.flogo:hover {
    transition: .3s;
    transform: scale(1.1);
}

.aboutparagraf {
    font-size: .9rem;
    color: black;
}

.visihead {
    padding: 5rem 0px 2px 0px;
}

.visiheader {
    color: black;
    text-decoration: underline;
    font-size: 1.2rem;
}

.visidetail {
    color: black;
    font-size: .8rem;
}

.misihead {
    padding: 1rem 0px 2px 0px;
}

.misiheader {
    color: black;
    text-decoration: underline;
    font-size: 1.2rem;
}

.misidetail {
    color: black;
    font-size: .8rem;
}

.owner {
    padding: 3rem 0px;
    background-color: rgb(19, 19, 19);
}

.fedry {
    width: 10rem;
    border-radius: 100rem;
    transform: rotate(-10deg);
}


.buffer4 {
    height: 3rem;
}

.ownername {
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: white;
}

.buffer5 {
    height: .5rem;
}

.ownerdiv {
    font-size: 1.3rem;
    color: aqua;
    letter-spacing: 1px;
}

.buffer6 {
    height: .5rem;
}


.ownerquotes {
    font-size: .9rem;
    color: white;
    letter-spacing: 1px;
}

.contact{
    padding: 2rem 0px;
    background-color: rgb(255, 250, 250);
}

.contactheader {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.buffer7 {
    height: 10px;
}

.contactdetail {
    font-size: 1rem;
    letter-spacing: .2px;
    color: rgb(102, 102, 102);
}

.email {
    border-radius: 10px;
}

.text-area {
    border-radius: 20px;
}

.send-message {
    padding: .2rem 1rem;
    border-radius: 2px;
}

.modal {
    border: none;
}

.footer {
    padding: 1rem 0px .5rem 0px;
    background-color: rgb(19, 19, 19);;
}

.foot-detail {
    font-size: .9rem;
    color: white;
}

.name {
    color: aqua;
}